body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}
p{
	margin: 0;
}
span {
	color: lightgray;
	font-size: .85em;
	font-weight: 600;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.card {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 400px;

	border-radius:20px;
	overflow: hidden;
	font-size: 1rem;
	font-family: sans-serif;
	text-transform: capitalize;
}
section {
	flex-grow: 2;
}
.head {
	background-image:linear-gradient(
		to left bottom
		,#fff
		,aqua
		,cyan
	);
}
.content {
	position: relative;
	background-color: #fff;
}
.content .img {
	position: relative;
	width: 7em;
	height: 7em;
	border-radius: 50%;
/*	border:5px solid transparent;
	border-color: #fff #fff aqua aqua;*/
	margin: 0 auto;
	margin-bottom: 1.5rem;
	background-image: url('img.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition:.5s ease-out;
}
.content .img:hover {
	background-size: 150%;
}
.content .img::before ,
.content .img::after {
	content: "";
	position: absolute;
	width: 110%;
	height: 55%;
	
	z-index: -1;
	right: -5%;
}
.content .img::before {
	background-color: #fff;
	top: -5%;	
	border-top-right-radius: 100px;
	border-top-left-radius: 100px;
}
.content .img::after {
	background-image:linear-gradient(
		to right bottom
		,#fff
		,aqua
		,cyan
	);
	bottom: -5%;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
}
.account {
	position: absolute;
	left: 50%;
	top: -3.5em;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	text-align: center;
}

.foot {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex: 1;
	text-align: center;
	border-top: 3px solid grey;
	background-color: #fff;
	/*text-align: left;*/
}
.foot span {
	display: block;
}
@media(max-width: 253px){
	.card {
		font-size: 90%;
	}
}